body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: auto;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-section {
    margin-bottom: 15px;
  }
  
  input[type='number'] {
    width: 80%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
  }
  
  button {
    padding: 8px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  textarea {
    margin-top: 10px;
    width: calc(100% - 12px);
    padding: 8px;
    resize: none;
  }
  
  .github-link {
    margin-top: 20px;
  }
  
  .github-link a {
    text-decoration: none;
    color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .github-link i {
    font-size: 24px;
    margin-right: 5px;
  }
  